Function `zonedTimeToUTC` does not work with textual timezone

Reproducer is the following code:

~~~ .haskell
import Data.Time

main = do
    print . zonedTimeToUTC $ read "2015-05-12 18:00:00 CEST"
    print . zonedTimeToUTC $ read "2015-05-12 18:00:00 +02:00"
~~~

Running it with time-1.5.0.1 produces output (CEST is the same as +02:00)

~~~
2015-05-12 18:00:00 UTC
2015-05-12 16:00:00 UTC
~~~

this is a regression against 1.4.0.1 as with that one (on the same machine) the code (I would argue correctly) produces

~~~
2015-05-12 16:00:00 UTC
2015-05-12 16:00:00 UTC
~~~

Regression has been introduced with
`time-1.4.2` → `time-1.5`

Hmmm... this might be desired behaviour? `lib/Data/Time/Format/Locale.hs` mentions:
~~~ .haskell
-- | Locale representing American usage.
--
-- 'knownTimeZones' contains only the ten time-zones mentioned in RFC 822 sec. 5:
-- \"UT\", \"GMT\", \"EST\", \"EDT\", \"CST\", \"CDT\", \"MST\", \"MDT\", \"PST\", \"PDT\".
-- Note that the parsing functions will regardless parse single-letter military time-zones and +HHMM format.
~~~

So I'll probably need to do more than just `read`. Btw, is there a library that would build suitable value for `knownTimeZones` from some system-wide info like `/usr/share/zoneinfo`?

@xkollar fyi, https://mail.haskell.org/pipermail/libraries/2014-September/023703.html

Oh, thanks `:-)`... still I'm not sure that accepting the string without any failure and assuming that `timeZoneMinutes` (or whatever equivalent) is 0. This can easily lead to bugs that are significant but hard to spot.